body {

    margin: 0;
    font-family: 'Poppins', sans-serif;

    
}
.orange-color{

    color: orange;
}
h1 {

    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
}

h2 {

    font-size: 40px;
}

.link-btn {

    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(orange,tomato);
    padding: 12px 40px;
    font-weight: 600;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 5px;
    display: inline-block;
}

.flexible {

    display: flex;
}

.half{

    width: 50%;
    padding-left: 7%;
}

.half img {

    width: 80%;

    margin-top: 10%;
}

.hero-section {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.aktu-niche {

    margin-top: 5%;
    padding-right: 8%;
}

.hero-section-2 {

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

section {

    margin-bottom: 160px;
}

.box-shad {

    width: 40%;
    margin: 0 5%;
    
    box-shadow: 10px 10px 30px rgb(184, 181, 181);

    padding: 20px 20px 50px 40px;

    border-radius: 10px;
    
}

#box-1 {

    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
    border-radius: 10px;
     
    
    

}

#box-2 {

    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    

}

.experience-section {

    
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;


}

footer p {

    text-align: center;
    color: gray;
}